{{#each words as |word|}}
  {{log word}}
  <section word-id="{{word.id}}">
    <h6>Word:</h6>
    <h3>
      {{limit word.text 15}}
    </h3>
    <h6>Difficulty:</h6>
    <p>
      {{#if word.difficulty}}
        {{word.difficulty}}
      {{else}}
        No difficulty provided.
      {{/if}}
    </p>
    <div class='handlebars-menu'>
          <button word-id='{{word.id}}' class="btn btn-danger">Delete Me!</button>
        <div class='handlebar-update'>

          <form class='handle-form' update-word='{{word.id}}'>
              <input name="text" type="string" placeholder="New word">
              <input name="difficulty" type="string" placeholder="Difficulty (0-10)">
              <input type='submit' placeholder='update Word'>
          </form>
        </div>
    </div>
  </section>

{{/each}}
